$color-primary-light: #2577fd;

$logo-width: 150px;
$default-text-color: rgb(255,255,255);
$default-text-color-dark: rgb(0,0,0);
$default-text-color-grey: #506172;

$main-slider-bg-darkness: 0.3;
$main-slider-img-height: 500px;

$main-shop-category-hover-darkness: 0.4;
$main-shop-category-transition-speed: 0.1s;

$main-most-popular-titles-img-height: 400px;
$main-most-popular-titles-product-mb: 100px;

$shop-filters-border: #e8e8e8;

$about-info-padding-top: 10px;
$about-social-icons-size: 36px;
$about-social-icons-horiz-margins: 5px;
//socials
$twitter-color: #00acee;
$instagram-color: #eb1dbe;
$youtube-color: #e01e18;

$online-users-indicator-color: rgb(0, 228, 0);
html{
    overflow-x: hidden;
    font-size: 20px;
}

.logo a img{
    width: $logo-width;
}

select{
    display: block;
    padding: 5px;
    border: 1px solid darken($shop-filters-border, 5%);
    border-radius: 4px;
}
a{
    color: black;
}
/* #region HEADER */
#online-users-status{
    color: $default-text-color;
    font-size: 0.8rem;
    i{
        color: $online-users-indicator-color;
    }
}
.hide-header-top{
    display: none !important;
}
#shopping-cart{
    position: relative;
    span{
        position: absolute;
        display: block;
        right: -10px;
        top: -7px;

        padding-top: 3px;

        width: 30px;
        height: 30px;

        text-align: center;
        background-color: $color-primary-light;
        color: $default-text-color;

        border: 1px solid $shop-filters-border;
        border-radius: 500px;

        font-size: 0.8rem;
        
    }
    &::before{
        display: none;
    }
}
#cart-account-btns{
    position: relative;
    top: 0px;
    right: 0px;
}
/* #endregion */
/* #region HOME */
#main-intro-slider{
    background: linear-gradient(rgba(0,0,0,$main-slider-bg-darkness), rgba(0,0,0,$main-slider-bg-darkness)), url("/assets/images/book-wallpaper.jpg") !important;
    background-size: cover !important;

    &-image {
        position: static;
        img{
            margin: 0px auto;
            height: $main-slider-img-height;
        }
    }
    &-info{
        h1, p{
            color: $default-text-color;
        }
        h1{
            font-size: 2.1rem;
        }
    }
}

#main-shop-categories{
    .single-category{
        .category-caption{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            transform: translateY(0%);
            
            transition: background-color $main-shop-category-transition-speed;
            &:hover{
                background-color: rgba(0,0,0, $main-shop-category-hover-darkness);
                cursor: pointer;
            }
            h2{
                color: $default-text-color;
                margin-bottom: 0px;
                margin-right: 0px !important;
                user-select: none;
            }
        }
    }
}

.most-popular-titles{
    .single-product{
        margin-bottom: $main-most-popular-titles-product-mb !important;
        .product-img{

            position: relative;
            i{
                display: none;

                top: 50%;
                left: 50%;

                margin-left: -25px;
                margin-top: -25px;

                position: absolute;

                font-size: 2.5rem;

                color: darken($default-text-color,10%);
                
                cursor: pointer;

                &:hover{
                    color: $color-primary-light;
                    text-shadow: 1px 1px 2px black;
                }

            }
            &:hover i{
                display: block;
            }

            img{
                width: auto;
                height: $main-most-popular-titles-img-height;
            }
        }
        .product-caption{
            h4{
                a{
                    font-size: 1rem;
                }
            }
        }
    }
}

.category-random{
    img{
        object-fit: cover;
        height: 275px;
    }
}
#newsletter-area{
    background-image: url("/assets/images/book-wallpaper-ultrawide.jpg");
    background-size: cover;

    #newsletterControls{
        display: flex;
        flex-direction: column;
        align-items: center;

        input{
            margin-bottom: 5px;
        }

        button{
            position: relative;
            width: 200px;
        }
    }
}

.best-by-critics{
    &-item{
        img{
            width: 100%;
        }
        span{
            display: block;
            margin-top: 10px;
            padding: 0px 5px;

            font-size: 1.5rem;
            font-family: "Playful Display", serif;

            color: $default-text-color-dark;            
        }
    }
}
.best-by-critics-image{
    position: relative;
    i{
        display: none;

        top: 50%;
        left: 50%;

        margin-left: -25px;
        margin-top: -25px;

        position: absolute;

        font-size: 2.5rem;

        color: darken($default-text-color,10%);
        
        cursor: pointer;

        &:hover{
            color: $color-primary-light;
            text-shadow: 1px 1px 2px black;
        }

    }
    &:hover i{
        display: block;
    }
}

.footer-logo{
    img{
        width: 175px;
    }
}
/* #endregion */

/* #region SHOP */
.main-intro{
    background-size: cover;
    .hero-cap h2{
        color: $default-text-color;
    }
}
#shop-main-intro{
    background-image: url("/assets/images/books-ultrawide.jpg");
}
#shop-upper-controls{
    padding-bottom: 5px;
}

.pagination{
    .page-link{
        border-radius: 0px !important;
        &:focus{
            box-shadow: none;
        }
    }
}

.shop-filters{
    border-left: 1px solid $shop-filters-border;
    .shop-filter{
        margin-bottom: 20px;
        ul{
            li{
                a{
                    color: $default-text-color-dark;
                }
            }
        }

        input[type=checkbox]{
            width: 20px;
            height: 20px;
            &:hover{
                cursor: pointer;
            }
        }
        span{
            user-select: none;
        }
    }
}
#shop-main{
    .bullet-points{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .best-by-critics-image{
        i{
            top: 50%;
            left: 50%;

            margin-left: -25px;
            margin-top: -25px;
        }
    }
}
/* #endregion */

/* #region CONTACT */
#contact-main-intro{
    background-image: url("/assets/images/book-ultrawide-2.jpg");
}
#google-maps-contact{
    iframe{
        width: 100%;
    }
}
.boxed-btn:hover{
    background: #0052d8;
    border: 1px solid #0052d8;
    color: $default-text-color !important;
}
/* #endregion */

/* #region ABOUT */
#about-main-intro{
    background-image: url("/assets/images/book-ultrawide-3.jpg");
}
#about-info{
    padding-top: $about-info-padding-top;
    p{
        font-size: 1rem;
    }
    &-links{
        p{
            a{
                color: $default-text-color-grey;
                &:hover{
                    text-decoration: underline;
                    color: $color-primary-light;
                }
            }
        }
    }
}
#about-socials{
    &-links{
        i{
            margin: 0px $about-social-icons-horiz-margins;
            font-size: $about-social-icons-size;
            &.fa-facebook-square{
                color: darken($color-primary-light, 5%);
                &:hover{
                    color: darken($color-primary-light, 10%);
                }
            }
            &.fa-twitter-square{
                color: $twitter-color;
                &:hover{
                    color: darken($twitter-color, 5%);
                }
            }
            &.fa-instagram{
                color: $instagram-color;
                &:hover{
                    color: darken($instagram-color, 5%);
                }
            }
            &.fa-youtube{
                color: $youtube-color;
                &:hover{
                    color: darken($youtube-color, 5%);
                }
            }
        }
    }
}
/* #endregion */

/* #region LOGIN */
#login-main-intro{
    background-image: url("/assets/images/book-ultrawide-4.jpg");
}
#login-side-section{
    background-image: url("/assets/images/book-wallpaper-1.jpg");
    background-size: cover;
}
/* #endregion */

/* #region REGISTER */
#register-main-intro{
    background-image: url("/assets/images/book-ultrawide-4.jpg");
}
#register-side-section{
    background-image: url("/assets/images/book-wallpaper-1.jpg");
    background-size: cover;
}
#resendActivationLink{
    a{
        color: $color-primary-light;
        text-decoration: underline;
    }
}
/* #endregion */

/* #region ADMIN */
#admin-main-intro{
    background-image: url("/assets/images/book-ultrawide-5.jpg");
    background-position: 0% 50%;
}
#admin-pages-percent{
    ul{
        li{
            margin-bottom: 15px;
        }
    }
}
#admin-pages-last-24{
    ul{
        li{
            margin-bottom: 15px;
        }
    }
}
#admin-log-window{
    height: 400px;
    overflow-y: scroll;

    border: 1px solid $shop-filters-border;
    padding: 10px;
}
/* #endregion */

/* #region ADMIN CONTENT */
.admin-content-container{
    select{
        width: 100%;
    }
}
#bookCover{
    img{
        display: none;
        width: 50%;
    }
}
/* #endregion */

/* #region ADMIN ADD BOOK */

.book-prop-add{
    input{
        display: none;
    }
    .nice-select{
        width: 100%;
    }
    i{
        font-size: 32px;
        margin-left: 5px;
        &:hover{
            color: $color-primary-light;
            cursor: pointer;
        }
    }
}
/* #endregion */

/* #region CART */
#cart-main-intro{
    background-image: url("/assets/images/book-ultrawide-7.jpg");
    background-position-y: 40%;
}
.cart-item{
    p, h5{
        font-size: 1.1em !important;
    }
}
#cart-subtotal{
    h5{
        font-size: 1.1rem !important;
    }
}
/* #endregion */

/* #region ERROR PAGE */
#error-main-intro{
    background-image: url("/assets/images/book-ultrawide-6.jpg");
}
/* #endregion */

/* #region BOOTSTRAP CUSTOMIZATIONS */
.invalid-feedback{
    margin-left: 15px;
}
/* #endregion */

/* #region TEMPLATE CUSTOMIZATIONS */
.nice-select{
    display: none;
}
/* #endregion */

/* #region SPACING CLASSES */
.pt-8{
    padding-top: 100px;
}
/* #endregion */

/* #region STYLE CLASSES */
.text-stroke-black-2{
    text-shadow: 
        -2px 3px 0 #000,
        2px -2px 0 #000,
        2px 2px 0 #000,
        2px 2px 0 #000;
}
.text-stroke-black-1{
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }
.text-stroke-white-1{
    text-shadow:
    -1px 1px 0 #b9b9b9, 
    1px -1px 0 #b9b9b9, 
    -1px 1px 0 #b9b9b9, 
    1px 1px 0 #b9b9b9;
}
.no-select-pointer-text{
    cursor: pointer;
    user-select: none;
}
/* #endregion */

/* #region MEDIA QUERIES */
@media only screen and (max-width: 1200px){
    #author-word-btn{
        width: 90% !important;
    }
}
@media only screen and (max-width: 640px){

    .cart-nav{
        display: block !important;
    }
    #shopping-cart{
        display: none;
    }

    //Authenticated users
    .logout-nav{
        display: block !important;
    }
    #logout-btn{
        display: none;
    }

    //Unauthenticated users
    .login-nav{
        display: block !important;
    }
    .register-nav{
        display: block !important;
    }

    #login-btn{
        display: none !important;
    }
    #register-btn{
        display: none !important;
    }
    
}
@media only screen and (max-width: 575px){
    .best-by-critics-item{
        img{
            width: 75%;
        }
    }
    .single-product-wrapper{
        padding: 0px 100px !important;
    }
    
}
@media only screen and (max-width: 470px){
    #export-books-btn{
        line-height: 1.5;
        white-space: normal;
        word-wrap: break-word;
    }
}
@media only screen and (max-width: 420px){
    .single-product-wrapper{
        padding: 0px 50px !important;
    }
    #about-main{
        padding: 0px 5px !important;
    }
    #author-word-btn{
        width: 100% !important;
    }
}
@media only screen and (max-width: 360px){
    .best-by-critics-item{
        img{
            width: 100%;
        }
    }
    .most-recent-titles-item{
        img{
            width: 75% !important;
            height: auto !important;
        }
    }
}
/*#endregion*/